  body {
    line-height: 1.5;
    margin: auto;
    font: 2rem/1.5 var(--bs-font-sans-serif);
  }

  .body {
    background-color: #F0F3F5;
  }

  #name{
    font-family: 'Inter';
    font-size: 24pt;
  }

/* 
  justify-content: space-evenly;
  flex-direction: column;
  column-count: 2; */

  .nav{
    background-color: white;
    color: #4B5DFF;
    font-size: 10pt;
  }

  .h3{
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'GTF Good Sans TRIAL';
  }

  .hero{
    background-color:#4B5DFF;
    width: auto;
    height: 470px;
    padding-left: 200px;
  }

  .hello{
    font-family: 'GTF Good Sans TRIAL';
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    position: absolute;
    top: 190px;
    width: 600px;
    height: 112px;
  }

  .location{
    display: flex;
    flex-wrap: wrap;
    padding-top: 250px;
    gap: 10px;
  }

  ion-icon{
    color: white;
    font-size: 24px;
}

  .place {
    font-family: 'GTF Good Sans TRIAL';
    color: white;
    font-weight: 500;
  }

  #search {
    margin-top: 20px;
    display: flex;
}

  #searchInput {
    display: inherit;
    width: 50%;
    padding: 1em 3.5em;
    border-style: none;
    height: 60px;
    width: 544px;
    left: 200px;
    top: 404px;
    border-radius: 30px;
    background-image: url("/icons/search-outline.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 20px 1rem;
  }

  .localTemp{
    background-color: white;
    width: 400px;
  }

  .weekTemp{
    width: auto;
    position: absolute;
    margin-top: 130px;
    font-family: "GTF Good Sans TRIAL";
    font-weight: 700;
    font-size: 40px;
    color:#4B5DFF;
  }
