  body {
    line-height: 1.5;
    margin: auto;
    font: 2rem/1.5 var(--bs-font-sans-serif);
  }

  .body {
    background-color: #F0F3F5;
  }

  #name{
    font-family: 'Inter';
    font-size: 24pt;
  }

/* 
  justify-content: space-evenly;
  flex-direction: column;
  column-count: 2; */

  .nav{
    background-color: white;
    color: #4B5DFF;
    font-size: 10pt;
  }

  .h3{
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'GTF Good Sans TRIAL';
  }

  .hero{
    background-color:#4B5DFF;
    width: auto;
    height: 470px;
  }

  .hello{
    font-family: 'GTF Good Sans TRIAL';
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    position: absolute;
    top: 200px;
    left: 100px;
    width: 600px;
    height: 112px;
  }

  ion-icon{
    color: white;
    font-size: 64px;
    stroke-width: 16px;
    height: 24px;
}